<h1>Movie</h1>

<%= @movie.title %></br>
<%= @movie.year %></br>
<%= @movie.plot %></br>
<%= @movie.mpaa_rating %>
<h2>Cast:</h2>
<% @movie.cast_members.each do |actor| %>
  <ul>
    <li><%= actor %></li>
  </ul>
<% end %>
</ul>




<%= button_to("Save", save_movie_path) %>


